.available_params {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;

  transition: color 200ms ease-in-out, box-shadow 200ms ease-in-out;

  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1);
  padding: 12px 22px;

  border-radius: 10px 0 0 10px;
  outline: none;

  background: #ffffff;

  cursor: pointer;

  color: #2d3a47;

  margin-right: 16px;
  margin-bottom: 16px;
}

.available_params:hover {
  box-shadow: none;

  color: rgba(45, 58, 71, 0.6);
}

.available_icon {
  pointer-events: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.available_icon svg {
  height: 18px;
}

.available_text {
  display: flex;
  align-items: center;

  font-size: 14px;
  font-weight: 600;
  font-style: normal;
}
