.header {
  position: sticky;
  top: 0;
  z-index: 200;

  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-between;

  width: inherit;
  max-height: 68px;
  padding: 12px 0;

  border-top: 1px solid #aaaeb6;

  background: #ffffff;

  font-style: normal;

  margin-top: -3px;
}

/* .left {

} */

.right {
  display: flex;
  gap: 18px;
  align-items: center;

  padding-right: 36px;
}
