.root > h3 {
  font-size: 28px;
  font-weight: 500;
  margin: 0 0 2rem;
}

.form > button {
  width: 200px !important;
  margin: 0 auto !important;
}

.sectionSpacing {
  margin-top: 10px;
}

.form > section > input,
.permissions > div {
  height: 40px !important;
  width: 100% !important;
  font-size: 16px;
  padding: 0 0.5rem !important;
  background-color: var(--backgroundColor) !important;
  border-radius: 5px !important;
  border: 1px solid var(--tertiaryColor) !important;
  box-sizing: border-box !important;
}

.thumb {
  margin-top: 0 !important;
}

.form section > label {
  display: block;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

.paper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 5px;
  margin: 0;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  min-height: 42px;
}

.chip {
  margin: 5px;
}

.select_classes {
  margin-bottom: 20px;
  color: red;
}

.select_classes>div {
  border-radius: 5px !important;
  border: none !important;
  font-size: 16px !important;
  background: var(--backgroundColor) !important;
  cursor: pointer;
  box-shadow: 0 0 0 1px var(--tertiaryColor) !important;
}

.select_classes>div>div>div {
  color: rgba(0, 0, 0, 1) !important;
  border-radius: 10px !important;
}

.select_classes>div:nth-child(3) {
  margin-bottom: 0 !important;
  background-color: #fff !important;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1) !important;
}
