.root {
	/* height: 100%; */
	/* width: 100%; */
	padding: 34px 36px;
}

.cardRoot {
	padding: 30px !important;
	width: auto !important;
	position: relative;
}

.overviewText {
	color: rgba(45, 58, 71, 1);
	font-weight: 600;
	font-size: 24px;
}

.openTextHistoryLink {
	position: absolute;
	right: 30px;
	top: 30px;
	font-size: 16px;
	font-weight: 600;
	color: rgba(32, 117, 245, 1);
	margin-bottom: 25px;
	appearance: none;
	border: none;
	background-color: transparent;
	box-shadow: none;
	outline: none;
	text-decoration: none;
}

.openTextHistoryLink:hover {
	cursor: pointer;
	text-decoration: underline;
}

.filters_parent {
	display: flex;
	gap: 40px;
}

.filters_row {
	display: flex;
	gap: 20px;
	margin-top: 35px;
}

.selectLabel {
	font-weight: 600;
	font-size: 15px;
	color: rgba(45, 58, 71, 1);
	white-space: nowrap;
	margin: 7px 0;
}

.select_classes_sort_date>div {
	border-radius: 20px !important;
	border: none !important;
	font-size: 15px !important;
	background: transparent !important;
	cursor: pointer;
	box-shadow: 0 0 0 1px #2d3a47 !important;
	width: 260px;
	z-index: 999999999999;
}

.select_classes_sort_date>div>div:first-child {
	margin-top: -4px;
	font-weight: 500;
	z-index: 999999999999;

}

.select_classes_sort_date>div>div>div {
	color: rgba(0, 0, 0, 1) !important;
	border-radius: 10px !important;
	cursor: pointer;
	z-index: 999999999999;

}

.select_classes_sort_date>div:nth-child(3) {
	margin-bottom: 0 !important;
	background-color: #fff !important;
	box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1) !important;
	z-index: 999999999999;
}

.cards_grid {
	margin-top: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 35px;
}

.colored_grid {
	height: 245px;
	border-radius: 10px;
}

.light_orange_bg {
	background: rgba(255, 242, 234, 1);
}

.light_blue_bg {
	background: rgba(239, 246, 255, 1);
}


.total_Stats {
	border-radius: 10px;
	height: 103px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 25px;
}

.orange_gradient {
	background: linear-gradient(111.33deg, #FF7D1C 22.75%, #FFA149 95.37%);
}

.blue_gradient {
	background: linear-gradient(111.33deg, #4074BB 22.75%, #4485DE 95.37%);
}

.main_title {
	color: rgba(255, 255, 255, 1);
	font-weight: 700;
	font-size: 22px;
	white-space: nowrap;
}

.main_stats {
	color: rgba(255, 255, 255, 1);
	font-weight: 700;
	font-size: 45px;
	white-space: nowrap;
}

.stats_body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 18px;
}

.success_stats_root {
	display: flex;
	justify-content: space-between;
    padding: 19px 0;
	position: relative;
}

.stats_sub_title {
	color: rgba(45, 58, 71, 1);
	font-weight: 500;
	display: flex;
	align-items: center;
	margin-left: 12px;
}

.stats_sub_data {
	color: rgba(45, 58, 71, 1);
	font-weight: 500;
	font-size: 25px;
	display: flex;
	align-items: center;
	margin-right: 12px;
}


.orange_horizontal_line::after {
	content: "";
	background: #f57b20;
	width: 100%;
	height: 2px;
	position: absolute;
	bottom: 0;
}

.blue_horizontal_line::after {
	content: "";
	background: rgba(61, 114, 187, 1);
	width: 100%;
	height: 2px;
	position: absolute;
	bottom: 0;
}

@media screen and (max-width: 1100px) {
	.select_classes_sort_date>div {
		width: 180px;
	}

	.filters_parent {
		gap: 25px;
	}

	.filters_row {
		gap: 15px;
	}
}

@media screen and (max-width: 1280px) {
	.cards_grid {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 40px;
	}
}
