.portal_wrapper {
  position: fixed;
  inset: 0;
  z-index: 99999;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  background-color: rgba(0, 0, 0, 0.6);
}

.delete_confirm {
  pointer-events: auto;

  display: flex;
  justify-content: space-between;

  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1);
  width: 528px;
  height: 282px;
  padding: 28px 36px 28px 36px;

  border-radius: 25px;

  background: #ffffff;
}

.left {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  gap: 22px;
  align-items: center;
  justify-content: center;
}

.warningIcon {
  color: #e03b24;
}

.warningIcon > svg {
  width: 76px;
  height: 76px;
}

.title {
  font-size: 18px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  color: #2d3a47;

  margin: 0;
}

.text {
  font-size: 14px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  color: #2d3a47;
  text-align: center;
  width: 456px;
}

.btns {
  display: inline-flex;
  flex-direction: row;
  gap: 26px;
  align-items: center;
  justify-content: space-between;

  width: 65%;

  margin-top: 14px;
}



.action {
  flex: 0 0 auto;
}

.close_icon {
  cursor: pointer;

  color: #2d3a47;
}

.close_icon > svg {
  pointer-events: none;
  width: 16px;
  height: 16px;
}
