.trendUp {
  color: var(--primaryColor);
  font-weight: bold;
  display: inline;
  align-self: center;
}

.trendDown {
  color: var(--secondaryColor);
  font-weight: bold;
  display: inline;
  align-self: center;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
