.root {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 16px;
  margin-bottom: 17px;
  color: var(--whiteColor);
  width: fit-content;
  position: relative;
  cursor: pointer;
  padding: 5px 0 5px 1px;
  z-index: 9999999999999999999999;
}

.hover_spacing {
  margin-top: 16px !important;
  margin-bottom: 0 !important;
}

.hover_spacing:last-child {
  margin-bottom: 25px !important;
}

.root p {
  margin: 0 0 0 8px;
  font-weight: 600;
  font-size: 17px;
}

.colorHoverEvent:hover,
.active,
.activeMain {
  color: var(--secondaryColor);
}

.activeMain::before {
  content: "";
  /* --display-active-background is not defined in index.css and cannot find it elsewhere. */
  /* display: var(--display-active-background); */

  position: absolute;
  left: -10px;
  top: -7px;
  bottom: -7px;
  z-index: -1;

  border-radius: 30px 0 0 30px;
  background-color: var(--backgroundColor);
  
  width: var(--sidedrawerWidth);
}

.iconSize {
  font-size: 30px !important;
}

.title {
  font-size: 16px !important;
  white-space: nowrap !important;
}

.title_hover {
  margin-left: 0 !important;
  padding-right: 20px !important;
}

.root > div > p {
  font-size: 16px;
}

.link_disabled {
  color: var(--disabled-text-color);
  pointer-events: none;
}

.disable_cursor {
  cursor: not-allowed;
  color: var(--disabled-text-color);
}

@media screen and (max-width: 1100px) {
  .iconSize {
    font-size: 26px !important;
  }

  .title {
    font-size: 14px !important;
  }

  .root {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 900px) {
  .iconSize {
    font-size: 24px !important;
  }

  .title {
    font-size: 13px !important;
  }
}

@media screen and (max-width: 768px) {
  .root {
    margin-bottom: 20px;
  }
}

/* for sidedrwer icons */
@media screen and (max-height: 1400px) {
  .MinimizedLogos {
    height: 22px !important;
    width: 22px !important;
    font-size: 18px !important;
  }
}

@media screen and (max-height: 900px) {
  .MinimizedLogos {
    height: 20px !important;
    width: 20px !important;
    font-size: 18px !important;
  }
}

@media screen and (max-height: 850px) {
  .MinimizedLogos {
    height: 18px !important;
    width: 18px !important;
    font-size: 16px !important;
  }

  .root > p {
    font-size: 14px !important;
  }
}

@media screen and (max-height: 760px) {
  .MinimizedLogos {
    height: 15px !important;
    width: 15px !important;
    font-size: 16px !important;
  }

  .root > p {
    font-size: 14px !important;
  }
}

@media screen and (max-height: 750px) {
  .MinimizedLogos {
    height: 15px !important;
    width: 15px !important;
    font-size: 16px !important;
  }

  .root > p {
    font-size: 14px !important;
  }
}
