.root {
  box-sizing: border-box;
  width: 100%;
}

.topMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.topMenu > h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.text {
}

