.topBarLeft {
  display: flex;
  align-items: center;
}

.topBarLeft span {
  margin: 0 5px;
  font-weight: 300;
}

.topBarLeft p {
  margin: 0;
}

.backButton {
  border: var(--borderWidth) solid var(--primaryColor) !important;
  background-color: transparent !important;
  padding: 0 !important;
  margin: 0 10px !important;
}

.filters {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding-left: 1rem !important;
  padding-right: 0 !important;
}

.formCard {
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - 273px);
}

.center {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .form {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .formCard {
    width: 100%;
    height: 100%;
  }
}
