.button {
  display: flex;
  gap: 12px;
  align-items: center;
  position: relative;

  padding: 10px 36px;

  border: none;
  border-radius: 10px;
  outline: none;

  background: #f57b20;

  cursor: pointer;

  font-size: 16px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  text-align: center;
}

.button--disabled {
  padding: 10px 22px;

  background: #d4d4d4;
}

.button--disabled:hover .menu {
  visibility: visible;
  transition: visibility 200ms ease-in-out;
}

.text {
  pointer-events: none;

  color: #ffffff;
}

.text--disabled {
  color: #8a8a8a;
}

.icon {
  pointer-events: none;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #8a8a8a;
}

.icon svg {
  width: 18px;
}
