.default {
  margin: 0;
  padding: 0;

  font-family: 'Montserrat';
  /* Very important: resets CSS for font */
  font-size: 100%;
  font-style: normal;
  font-weight: inherit;
  vertical-align: baseline;
  /* ---------------------------------- */
}

.default > span > svg {
  margin-left: 8px;

  color: #8a8a8a;
}

.xsmall {
  font-size: 12px;
}

.small {
  font-size: 14px;
  line-height: 20px;
}

.defaultSize {
  font-size: 16px;
}

.mid {
  font-size: 18px;
}

.large {
  font-size: 20px;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 600;
}

.xbold {
  font-weight: 700;
}

.gray {
  color: #808080;
}

.defaultColor {
  color: #2d3a47;
}

.red {
  color: #e03b24;
}

.yellow {
  color: #e7bb09;
}

.green {
  color: #5f9936;
}

.noWrap {
  overflow: hidden;

  text-overflow: ellipsis;
  white-space: nowrap;
}
