.role {
	cursor: default;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	text-transform: capitalize;
	color: #2d3a47;
	margin: 0;
}

.tooltip_arrow > svg {
	transform: rotate(180deg);
	filter: drop-shadow(1px -10px 4px rgba(0, 0, 0, 0.05));
}
