.actions {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.actions_dropdown {
	z-index: 100;
	display: flex;
	gap: 6px;
	align-items: center;
	justify-content: center;
	box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1);
	padding: 8px 18px;
	border: none;
	border-radius: 10px;
	outline: none;
	background-color: #fbfbfb;
	cursor: pointer;
}

.action_dropdownText {
	font-size: 15px;
	font-weight: 500;
	font-style: normal;
	color: #2d3a47;
	white-space: nowrap;
	margin: 0;
}
