.portal_wrapper {
  position: fixed;
  z-index: 99999999999999999;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;

  overflow: hidden;

  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1);

  background-color: transparent;

  /* background-color: rgba(0, 0, 0, 0.6); */
  /* inset: 0; */
}

.sideModal {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;

  transition: transform 250ms ease-in-out 100ms;

  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1);
  width: 456px;
  max-width: 456px;
  height: 100vh;
  min-height: 100vh;

  background: #ffffff;

  font-style: normal;
  color: #2d3a47;

  transform: translateX(100%);
  /* overflow: overlay; */
}

.sideModal-open {
  transform: translateX(0);
}
