.root {
  width: 100%;
  height: 100vh;
}

.saveButton {
  width: 140px !important;
  position: absolute !important;
  right: 30px;
  top: 20px;
  height: 40px !important;
  font-size: 16px !important;
}

.saveButton:hover {
  background-color: var(--secondaryColor) !important;
}

.rootCol {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 40px;
  position: relative;
}

.flex_between {
  display: flex;
  justify-content: space-between;
}

.searchBar {
  width: 100% !important;
  border-radius: 20px !important;
  font-size: 15px !important;
  height: 40px !important;
  display: flex !important;
  align-items: center;
  padding-right: 4px !important;
  border: 1.5px solid #2d3a47 !important;
  box-sizing: border-box !important;
}

.searchBar>div {
  display: flex;
  align-items: center;
}

.searchBar>input {
  color: #2D3A47 !important;
}

.searchBar>div>svg {
  background: rgba(51, 65, 80, 1) !important;
  border-radius: 50% !important;

  font-size: 1.3rem !important;
  padding: 2px !important;
  pointer-events: none;
  transition: all ease-in 600ms;
  opacity: 0.3;
  width: 1.3em !important;
  height: 1.3em !important;
}

.searchBar:focus {
  font-size: 3.5rem !important;
}

.searchBarActive>div>svg {
  pointer-events: all;
  cursor: pointer;
  opacity: 1;
  fill: rgba(255, 255, 255, 1) !important;
}

.flex_col_gap {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  gap: 20px;
  padding: 0 33px 0 27px;
}

.flex_col_gap_second {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
  padding: 0 33px 0 27px;
}

.flex_col_gap>div:nth-child(2) {
  margin-top: 2px;
}


.select_classes>div {
  border-radius: 20px !important;
  border: none !important;
  font-size: 16px !important;
  background: transparent !important;
  cursor: pointer;
  box-shadow: 0 0 0 1px #2d3a47 !important;
  width: 544px !important;
}

.select_classes>div>div>div {
  color: #2D3A47 !important;
  font-weight: 500 !important;
  border-radius: 10px !important;
  cursor: pointer;
}

.select_classes>div:nth-child(3) {
  margin-bottom: 0 !important;
  background-color: #fff !important;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1) !important;
}

.select_classes>div>div:first-child {
  margin-top: -2px;
  font-weight: 500;
}

.selectParent {
  margin-top: 2px;
}

.scrollbar_height {
  height: calc(100% - 130px) !important;
}

.scrollbar_height>div {
  overflow-x: hidden;
}

.filterHeaderRoot {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.filterHeader {
  font-size: 17px;
  font-weight: 600;
  color: rgba(45, 58, 71, 1);
}

.filterHeaderBody {
  font-size: 15px;
  color: rgba(45, 58, 71, 1);
  padding-right: 30px;
  line-height: 130%;
}

.filterListNumber {
  font-weight: 500;
  font-size: 15px;
  color: rgba(45, 58, 71, 1);
}

.filterListRoot {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 4px;
}

.filterListRootSecond {
  display: flex;
  gap: 27px;
  align-items: center;
  margin-bottom: 4px;
}

.addFilterToArrayButtonRoot {
  height: 41px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: rgba(45, 58, 71, 1);
  font-weight: 600;
  border: 2px solid #2D3A47;
  border-radius: 5px;
  box-sizing: border-box;
  transition: all 100ms ease;
}

.addFilterToArrayButtonRoot:hover {
  background: rgba(45, 58, 71, 1);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.deactivateButton {
  cursor: none;
  pointer-events: none;
  background: rgba(212, 212, 212, 1);
  border-color: rgba(212, 212, 212, 1);
  color: rgba(138, 138, 138, 1);
}

.disableSelectInputs {
  opacity: 0.5;
  pointer-events: none;
}

.lightOrangeBg {
  background-color: var(--tertiaryColor);
  width: initial;
  margin-top: -48px;
  position: relative;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  gap: 10px;
  padding-left: 38px;
}

.dataRoot {
  padding: 10px 20px
}

.sideModalHeader {
  color: rgba(45, 58, 71, 1);
  font-weight: 600;
  font-size: 30px;
  padding-top: 92px;
  word-break: break-all;
  margin-bottom: 25px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 15px;
}

.keyStyle {
  color: #2d3a47;
  font-size: 16px;
  font-weight: 600;
}

.valueStyle {
  color: #2d3a47;
  font-size: 16px;
  font-weight: 400;
  justify-content: flex-end;
  display: flex;
  word-break: break-all;
}

.lightHR {
  width: 100%;
  height: 1px;
  background: #d8d8d8;
}


.primary_menu_root {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.sideModalCloseIcon {
  color: var(--primaryColor) !important;
  font-size: 42px !important;
  cursor: pointer;
  position: relative;
  left: 30px !important;
  top: 25px !important;
  z-index: 1;
}


.darkHR {
  width: 91%;
  height: 2px;
  background: #2d3a47;
  opacity: 0.5;
  margin: 3px auto;
}

.relatedAssociationSetTitle{
  color: rgba(45, 58, 71, 1);
  font-weight: 600;
  font-size: 20px;
  padding: 20px 0 15px 35px;
}

.tableWidth{
  margin: auto !important;
  width: 91% !important;
}

.tableWidth>thead>tr>th{
  text-align: center !important;
}
